.App {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.Panel {
  margin: 20px 0px;
  padding: 16px 30px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #0001;
}

.Panel input {
  min-width: 360px;
}